*, *::before, *::after {
    box-sizing: border-box;
}

.underConstruction {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
}

.underConstruction > img {
    max-width: 100%
}